In [1]:
import pandas as pd

In [2]:
def get_data(year="15"):
    df = pd.read_csv("data/census/income/ACS_"+str(year)+"_1YR_B28004/ACS_"+str(year)+"_1YR_B28004_with_ann.csv",
                    skiprows=1)
    return df

data_15 = get_data(year="15")
data_15

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000:","Margin of Error; Less than $10,000:","Estimate; Less than $10,000: - With dial-up Internet subscription alone","Margin of Error; Less than $10,000: - With dial-up Internet subscription alone","Estimate; Less than $10,000: - With a broadband Internet subscription",...,"Estimate; $50,000 to $74,999: - Without an Internet subscription","Margin of Error; $50,000 to $74,999: - Without an Internet subscription","Estimate; $75,000 or more:","Margin of Error; $75,000 or more:","Estimate; $75,000 or more: - With dial-up Internet subscription alone","Margin of Error; $75,000 or more: - With dial-up Internet subscription alone","Estimate; $75,000 or more: - With a broadband Internet subscription","Margin of Error; $75,000 or more: - With a broadband Internet subscription","Estimate; $75,000 or more: - Without an Internet subscription","Margin of Error; $75,000 or more: - Without an Internet subscription"
0,0600000US0900108070,900108070,"Bridgeport town, Fairfield County, Connecticut",49811,2237,5321,1086,0,198,2134,...,1093,520,13487,1329,97,119,11615,1236,1775,666
1,0600000US0900118500,900118500,"Danbury town, Fairfield County, Connecticut",29775,2154,1981,827,0,198,1454,...,333,235,13142,1509,178,174,12479,1516,485,354
2,0600000US0900156060,900156060,"Norwalk town, Fairfield County, Connecticut",32467,1764,1528,626,63,107,697,...,658,358,17500,1454,79,90,16832,1479,589,285
3,0600000US0900173070,900173070,"Stamford town, Fairfield County, Connecticut",47256,2090,2845,872,0,198,1512,...,671,477,25393,1722,0,198,24191,1841,1202,556
4,0600000US0900337070,900337070,"Hartford town, Hartford County, Connecticut",44867,2041,7566,1419,30,51,3205,...,1139,522,8180,1199,72,93,7139,1088,969,516
5,0600000US0900350440,900350440,"New Britain town, Hartford County, Connecticut",27834,1277,4079,1019,0,198,1632,...,921,409,7070,1233,0,198,6203,1139,867,580
6,0600000US0900952070,900952070,"New Haven town, New Haven County, Connecticut",48690,2528,7508,1649,35,62,4099,...,1151,642,11043,1331,0,198,10223,1291,820,396
7,0600000US0900980070,900980070,"Waterbury town, New Haven County, Connecticut",39441,1869,5470,1123,0,198,1740,...,1548,678,9480,1262,0,198,8517,1142,963,577

In [3]:
for c in data_15.columns:
    print c

Id
Id2
Geography
Estimate; Total:
Margin of Error; Total:
Estimate; Less than $10,000:
Margin of Error; Less than $10,000:
Estimate; Less than $10,000: - With dial-up Internet subscription alone
Margin of Error; Less than $10,000: - With dial-up Internet subscription alone
Estimate; Less than $10,000: - With a broadband Internet subscription
Margin of Error; Less than $10,000: - With a broadband Internet subscription
Estimate; Less than $10,000: - Without an Internet subscription
Margin of Error; Less than $10,000: - Without an Internet subscription
Estimate; $10,000 to $19,999:
Margin of Error; $10,000 to $19,999:
Estimate; $10,000 to $19,999: - With dial-up Internet subscription alone
Margin of Error; $10,000 to $19,999: - With dial-up Internet subscription alone
Estimate; $10,000 to $19,999: - With a broadband Internet subscription
Margin of Error; $10,000 to $19,999: - With a broadband Internet subscription
Estimate; $10,000 to $19,999: - Without an Internet subscription
Margin of Error; $10,000 to $19,999: - Without an Internet subscription
Estimate; $20,000 to $34,999:
Margin of Error; $20,000 to $34,999:
Estimate; $20,000 to $34,999: - With dial-up Internet subscription alone
Margin of Error; $20,000 to $34,999: - With dial-up Internet subscription alone
Estimate; $20,000 to $34,999: - With a broadband Internet subscription
Margin of Error; $20,000 to $34,999: - With a broadband Internet subscription
Estimate; $20,000 to $34,999: - Without an Internet subscription
Margin of Error; $20,000 to $34,999: - Without an Internet subscription
Estimate; $35,000 to $49,999:
Margin of Error; $35,000 to $49,999:
Estimate; $35,000 to $49,999: - With dial-up Internet subscription alone
Margin of Error; $35,000 to $49,999: - With dial-up Internet subscription alone
Estimate; $35,000 to $49,999: - With a broadband Internet subscription
Margin of Error; $35,000 to $49,999: - With a broadband Internet subscription
Estimate; $35,000 to $49,999: - Without an Internet subscription
Margin of Error; $35,000 to $49,999: - Without an Internet subscription
Estimate; $50,000 to $74,999:
Margin of Error; $50,000 to $74,999:
Estimate; $50,000 to $74,999: - With dial-up Internet subscription alone
Margin of Error; $50,000 to $74,999: - With dial-up Internet subscription alone
Estimate; $50,000 to $74,999: - With a broadband Internet subscription
Margin of Error; $50,000 to $74,999: - With a broadband Internet subscription
Estimate; $50,000 to $74,999: - Without an Internet subscription
Margin of Error; $50,000 to $74,999: - Without an Internet subscription
Estimate; $75,000 or more:
Margin of Error; $75,000 or more:
Estimate; $75,000 or more: - With dial-up Internet subscription alone
Margin of Error; $75,000 or more: - With dial-up Internet subscription alone
Estimate; $75,000 or more: - With a broadband Internet subscription
Margin of Error; $75,000 or more: - With a broadband Internet subscription
Estimate; $75,000 or more: - Without an Internet subscription
Margin of Error; $75,000 or more: - Without an Internet subscription

In [4]:
# data types
datum = {
    "MOE":"Margin of Error",
    "est":"Estimate"
}
    
# income buckets
inc_buckets = {
    "20K":"$10,000 to $19,999",
    "35K":"$20,000 to $34,999",
    "50K":"$35,000 to $49,999",
    "75K":"$50,000 to $74,999",
    "75+":"$75,000 or more",
    "NA":""
}

#subscription types
sub_types = {
    "dialup":" - With dial-up Internet subscription alone",
    "broadband":" - With a broadband Internet subscription",
    "none":" - Without an Internet subscription",
    "NA":""
}

In [5]:
# Generate a column name
def col(dat, inc, sub):
   
    
    return datum[dat] + "; " + inc_buckets[inc] +":" + sub_types[sub]

In [6]:
col("est","20K","broadband")

'Estimate; $10,000 to $19,999: - With a broadband Internet subscription'

In [7]:
def three_buckets(df):
    ret = df.copy()
    ret["COMBINED $20,000 to $49,999 with broadband"] = ret[col("est","35K","broadband")]\
    + ret[col("est","50K","broadband")]
    
    ret["COMBINED $20,000 to $49,999 pop"] = ret[col("est","35K","NA")]\
    + ret[col("est","50K","NA")]

    return ret

three_buckets(get_data(15))

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000:","Margin of Error; Less than $10,000:","Estimate; Less than $10,000: - With dial-up Internet subscription alone","Margin of Error; Less than $10,000: - With dial-up Internet subscription alone","Estimate; Less than $10,000: - With a broadband Internet subscription",...,"Estimate; $75,000 or more:","Margin of Error; $75,000 or more:","Estimate; $75,000 or more: - With dial-up Internet subscription alone","Margin of Error; $75,000 or more: - With dial-up Internet subscription alone","Estimate; $75,000 or more: - With a broadband Internet subscription","Margin of Error; $75,000 or more: - With a broadband Internet subscription","Estimate; $75,000 or more: - Without an Internet subscription","Margin of Error; $75,000 or more: - Without an Internet subscription","COMBINED $20,000 to $49,999 with broadband","COMBINED $20,000 to $49,999 pop"
0,0600000US0900108070,900108070,"Bridgeport town, Fairfield County, Connecticut",49811,2237,5321,1086,0,198,2134,...,13487,1329,97,119,11615,1236,1775,666,11648,16721
1,0600000US0900118500,900118500,"Danbury town, Fairfield County, Connecticut",29775,2154,1981,827,0,198,1454,...,13142,1509,178,174,12479,1516,485,354,4824,7184
2,0600000US0900156060,900156060,"Norwalk town, Fairfield County, Connecticut",32467,1764,1528,626,63,107,697,...,17500,1454,79,90,16832,1479,589,285,4317,5953
3,0600000US0900173070,900173070,"Stamford town, Fairfield County, Connecticut",47256,2090,2845,872,0,198,1512,...,25393,1722,0,198,24191,1841,1202,556,8289,9892
4,0600000US0900337070,900337070,"Hartford town, Hartford County, Connecticut",44867,2041,7566,1419,30,51,3205,...,8180,1199,72,93,7139,1088,969,516,10818,16663
5,0600000US0900350440,900350440,"New Britain town, Hartford County, Connecticut",27834,1277,4079,1019,0,198,1632,...,7070,1233,0,198,6203,1139,867,580,6069,8392
6,0600000US0900952070,900952070,"New Haven town, New Haven County, Connecticut",48690,2528,7508,1649,35,62,4099,...,11043,1331,0,198,10223,1291,820,396,10822,14270
7,0600000US0900980070,900980070,"Waterbury town, New Haven County, Connecticut",39441,1869,5470,1123,0,198,1740,...,9480,1262,0,198,8517,1142,963,577,7448,11657

In [10]:
def three_buckets_pcts(df):
    cols = ["Geography",
            col("est","20K","broadband"),
            col("est","20K","NA"),
            "COMBINED $20,000 to $49,999 with broadband",
            "COMBINED $20,000 to $49,999 pop",
            col("est","75K","broadband"),
            col("est","75K","NA"),
            col("est","75+","broadband"),
            col("est","75+","NA"),
           ]
    
    return df[cols]

#three_buckets_pcts(three_buckets(get_data(2015)))

In [11]:
for c in three_buckets_pcts(three_buckets(get_data(15))).columns:
    print c

Geography
Estimate; $10,000 to $19,999: - With a broadband Internet subscription
Estimate; $10,000 to $19,999:
COMBINED $20,000 to $49,999 with broadband
COMBINED $20,000 to $49,999 pop
Estimate; $50,000 to $74,999: - With a broadband Internet subscription
Estimate; $50,000 to $74,999:
Estimate; $75,000 or more: - With a broadband Internet subscription
Estimate; $75,000 or more:

In [12]:
def pcts(df):
    ret = three_buckets_pcts(three_buckets(df))
    ret["pct_20K"] = ret["Estimate; $10,000 to $19,999: - With a broadband Internet subscription"]\
    / ret["Estimate; $10,000 to $19,999:"]
    ret["pct_50K"] = ret["COMBINED $20,000 to $49,999 with broadband"]\
    /ret["COMBINED $20,000 to $49,999 pop"]
    ret["pct_75K"] = ret["Estimate; $50,000 to $74,999: - With a broadband Internet subscription"]\
    /ret["Estimate; $50,000 to $74,999:"]
    ret["pct_75+"] = ret["Estimate; $75,000 or more: - With a broadband Internet subscription"]\
    /ret["Estimate; $75,000 or more:"]
    
    return ret[["Geography","pct_20K","pct_50K","pct_75K","pct_75+"]]

pcts(get_data(15))#.describe()

,Geography,pct_20K,pct_50K,pct_75K,pct_75+
0,"Bridgeport town, Fairfield County, Connecticut",0.489068,0.696609,0.853623,0.861200
1,"Danbury town, Fairfield County, Connecticut",0.336105,0.671492,0.935751,0.949551
2,"Norwalk town, Fairfield County, Connecticut",0.792508,0.725181,0.871233,0.961829
3,"Stamford town, Fairfield County, Connecticut",0.619848,0.837950,0.889874,0.952664
4,"Hartford town, Hartford County, Connecticut",0.460646,0.649223,0.815367,0.872738
5,"New Britain town, Hartford County, Connecticut",0.446235,0.723189,0.795697,0.877369
6,"New Haven town, New Haven County, Connecticut",0.494194,0.758374,0.861175,0.925745
7,"Waterbury town, New Haven County, Connecticut",0.458256,0.638929,0.757746,0.898418

In [13]:
pcts(get_data(14))

,Geography,pct_20K,pct_50K,pct_75K,pct_75+
0,"Bridgeport town, Fairfield County, Connecticut",0.547352,0.746492,0.882597,0.917325
1,"Danbury town, Fairfield County, Connecticut",0.378098,0.734333,0.819381,0.928728
2,"Norwalk town, Fairfield County, Connecticut",0.584274,0.756171,0.856000,0.964028
3,"Stamford town, Fairfield County, Connecticut",0.587367,0.806315,0.842573,0.947573
4,"Hartford town, Hartford County, Connecticut",0.443323,0.662580,0.783788,0.862006
5,"New Britain town, Hartford County, Connecticut",0.385661,0.672226,0.855744,0.879397
6,"New Haven town, New Haven County, Connecticut",0.467317,0.665866,0.791210,0.898354
7,"Waterbury town, New Haven County, Connecticut",0.546588,0.586597,0.757304,0.868374

In [14]:
pcts(get_data(13))

,Geography,pct_20K,pct_50K,pct_75K,pct_75+
0,"Bridgeport town, Fairfield County, Connecticut",0.601450,0.712193,0.778162,0.876624
1,"Danbury town, Fairfield County, Connecticut",0.590340,0.650289,0.939902,0.942768
2,"Norwalk town, Fairfield County, Connecticut",0.557424,0.790465,0.922803,0.946571
3,"Stamford town, Fairfield County, Connecticut",0.471928,0.639449,0.871152,0.949842
4,"Hartford town, Hartford County, Connecticut",0.364305,0.523807,0.712506,0.850346
5,"New Britain town, Hartford County, Connecticut",0.433246,0.472851,0.778108,0.852276
6,"New Haven town, New Haven County, Connecticut",0.325311,0.532605,0.713775,0.844098
7,"Waterbury town, New Haven County, Connecticut",0.394234,0.575915,0.753955,0.915840